@import '@picocss/pico';
:root {
    --dark: #0f171d;
}
#home-section{
    height: 100vh;
    overflow: hidden;
}
#enroll {
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0,0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
body{
    overflow: hidden;
}
#main-nav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--dark) ;
    padding: 0 20px;
}
ul a{
    color: white;
}
#enroll h3{
    text-align: center;
}
#form-container {
    position: absolute;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 1rem;
    height: fit-content;
    background-color: #252a37;
    padding: 10px;
    border-radius: 10px;
    width: 20rem;
    overflow: hidden;
    
   
}
main {
    
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
}
label#weeks-num{
    text-align: center;
}
@keyframes leave {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes enter {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 100;
       
    }
}

.inputs-container h1 {
    text-align: center;
}
.inputs-container  details button {
    width: 5rem;
    height: fit-content;
    margin: 0;
}
.inputs-container  details .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.rest {
    width: 100%;
    display: flex;
    justify-content: center;
}