@import '@picocss/pico';
:root {
    --dark: #0f171d;
}
#home-section{
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
#enroll {
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0,0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#main-nav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--dark) ;
    padding: 0 20px;
}
ul a{
    color: white;
}
#enroll h3{
    text-align: center;
}
#form-container {
    position: absolute;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 1rem;
    height: fit-content;
    background-color: #252a37;
    padding: 10px;
    border-radius: 10px;
    width: 20rem;
    overflow: hidden;
    
   
}
main#add-main {
    
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
}

label#weeks-num{
    text-align: center;
}
@keyframes leave {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes enter {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 100;
       
    }
}

.inputs-container h1 {
    text-align: center;
}
.inputs-container  details button {
    width: 5rem;
    height: fit-content;
    margin: 0;
}
.inputs-container  details .grid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rest {
    width: 100%;
    display: flex;
    justify-content: center;
}
#upload-pop-up{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    z-index: 5;
}
#upload-content-container{
    width: 50rem;
    min-height: 20rem;
    background-color: #252a37;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: fit-content;
}
.loading{
    width: 15rem;
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px black;
}
.loading-container{
    height: fit-content;
}
.thumbs-upload {
    width: 15rem;
    height: fit-content;
}
.error {
    border-color: rgb(255, 31, 31);
    color: rgb(255, 31, 31);
}
#show-main{
    padding: 3.5rem 2.5rem 0rem 2.5rem;
}
#actions button {
    margin: 0;
}
#popup{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.4);
}
#popup form {
    width: 70%;
}
#popup #cancel {
    background-color: rgb(255, 31, 31);
    border-color: rgb(255, 31, 31);
}
.weeks-table-displayer{
    width: 50%;
}
.weeks-table-displayer  thead th:first-child {
    text-align: center;
}
#weeks-table-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
td a img {
    width: 1.5rem;
    transition: 0.23s;
}

td a img:hover {
    filter: invert(58%) sepia(75%) saturate(5520%) hue-rotate(351deg) brightness(94%) contrast(88%);
    
}
.Rest{
    color: #b2b5c0;
}
.Train{
    font-size: 2rem;
    font-weight: bold;
}
.Train a {
    color: #e25822;

}
.Train::marker{
    background-color: white;
}
#days-nav-section{
    margin: 0;
    padding-left: 2rem;
}
#video-display-container{
    width: 55%;
}
#video-display-container video {
    border-radius: 2rem;
    
}
#video-display-container #video-container {
    width: 100%;
    position: relative;
}
#video-display-container #play-pause-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: #e25822;
    border-radius: 99999px;
    bottom: 2rem;
    left: 2rem;
    cursor: pointer;
    border: 2px solid black;

}
 #video-display-container  h1, #video-display-container #play-pause-btn, #video-display-container h7 {
    opacity: 0;
    transition: 0.3s;

}
#video-display-container:hover #play-pause-btn,#video-display-container:hover  h1, #video-display-container:hover h7 {
    opacity: 1;
}
#media-player{
    width: 1.5rem;
}

#desc-header-container{
    position: absolute;
    top: 1rem;
    left: 2rem;
}
#desc-header-container h1 {
    margin: 0;
    color: #e25822;
    text-shadow: 2px 2px#0f171d;

}
#main-container{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}
#videos-container{
    width: 30%;
    height: 23rem;
    padding: 1.5rem;
    overflow: auto;
    /* border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem; */
    border-radius: 2rem;
    border: 1px solid #e25822;
    box-shadow: 0px 3px 4px black;
}
#videos-container h4 {
    color: white;
    margin-bottom: 1.5rem;
}
#div-videos-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.video-row {
    cursor: pointer;
    gap: 1rem;
    display: flex;
    width: 100%;
}
.video-row img{
    width: 45%;
    border-radius: 0.5rem;
}
.video-row h6 {
    color: white;
    margin: 0;
}
.video-row p {
    color: white;
    font-size: 17px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.video-display-section-footer{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.icon-container{
    width: fit-content;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
}

.icon-info-container h2, .icon-info-container h6 {
    margin: 0;
}
.icon-info-container {
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
}
#rest-input{
    width: 5rem;
    margin:0;
    border:none;
    height:2.6rem;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 0;
}
#rest-input:focus {
    box-shadow: none;
}
.ldBar {
    position: relative;
    
}
.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #883514;
  text-shadow: 0 0 3px #fff;
  font-size: 30px!important;
}
.ldBar-label:after {
  content: "S";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
}
#bar-container{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 110vh;
    background-color: rgba(0, 0, 0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 100;
}
